body {
  background-color: #FAF2A1;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.t1 {
  color: #EF5B5B;
  font-size: 50px;
}
.e {
  color: black;
  font-size: 50px;
}
.t2 {
  color: #F4743B;
  font-size: 50px;
}
.r {
  color: #57A773;
  font-size: 50px;
}
.i {
  color: #84CAE7;
  font-size: 50px;
}
.s {
  color: #62466B;
  font-size: 50px;
}